---
breadcrumb: Pivotal Platform Dev Documentation
title: Using a Local OVA with Pivotal Platform Dev
owner: Pivotal Platform Dev
---

<p class="note"><strong>Note:</strong> This functionality is not supported in the current version of <%= vars.platform_name %> Dev. Use <%= vars.platform_name %> Dev v0.30 for <%= vars.platform_name %> v1.11 or earlier for this functionality.</p>

This topic describes how to use <%= vars.platform_name %> Dev with a local Open Virtualization Appliance (OVA).


## <a id='overview'></a> Overview

By default, <%= vars.platform_name %> Dev tries to download a pre-determined OVA at startup. You can configure <%= vars.platform_name %> Dev to import an OVA instead when Internet access is restricted.


## <a id='import-config'></a> Configure <%= vars.platform_name %> Dev to Import an OVA

To configure <%= vars.platform_name %> Dev to import an OVA when Internet access is restricted:

1. Determine the OVA version of your <%= vars.platform_name %> Dev installation by running:

	```
	cf dev version
	```
	This command outputs the CLI and OVA version and the Git SHA of the CLI. In this example, the OVA version is `0.234.0`.

1. Download the OVA file from the [<%= vars.platform_name %> Dev](https://network.pivotal.io/products/pcfdev#/releases/1622) page on Pivotal Network. To download the OVA, click on the corresponding file in the release, such as `pcfdev-v0.234.0.ova`. You must be signed in and accept the EULA to download the OVA.

1. Import the OVA file by running:

	```
	cf dev import PATH-TO-OVA-FILE
	```
	Where `PATH-TO-OVA-FILE` is the path to your downloaded OVA file.
	<br>
	This command copies the OVA file into your `DEV_HOME` directory. You can only import the version of the OVA that corresponds to the version of your <%= vars.platform_name %> Dev CLI plugin. All other OVAs are deleted.

1. Run:

	```
	cf dev start
	```
