---
breadcrumb: Pivotal Platform Dev Documentation
title: Installing Pivotal Platform Dev on Microsoft Windows 10
owner: Pivotal Platform Dev
---

<strong><%= modified_date %></strong>

<p class="note"><strong>Note:</strong> To run <%= vars.platform_name %> Dev on Windows without Hyper-V, see <a href="install-windows-legacy.html">Installing <%= vars.platform_name %> Dev on Microsoft Windows 7 and 8</a>.</p>

This topic describes how to install <%= vars.platform_name %> Dev on Windows 10.


## <a id="prerequisites"></a> Prerequisites

These sections describe the prerequisites you must have before installing <%= vars.platform_name %> Dev on Windows 10.

### <a id="virtualbox"></a> Hyper-V

<%= vars.platform_name %> Dev uses Hyper-V on Windows 10 to run on native hypervisors.

To enable Hyper-V on your machine before starting <%= vars.platform_name %> Dev, see [Install Hyper-V on Windows 10](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/enable-hyper-v) in the Microsoft documentation.

### <a id="cf-cli"></a> Cloud Foundry Command Line Interface

<%= vars.platform_name %> Dev uses the Cloud Foundry Command Line Interface (cf CLI) to push and scale apps.

To install the cf CLI:

1. Download the [cf CLI for Windows (64 bit)](https://cli.run.pivotal.io/stable?release=windows64&source=github-rel). If you previously used the cf CLI v5 Ruby gem, uninstall this gem first.

1. Unpack the ZIP file and open the `cf_installer` app.

1. Follow the installer wizard to install.

1. To verify your installation, open a terminal window and enter `cf`. If your installation was successful, the cf CLI help listing appears.


## <a id="install-pcf-dev"></a> Install <%= vars.platform_name %> Dev

To install <%= vars.platform_name %> Dev:

1. Download the latest version of <%= vars.platform_name %> Dev from the
   [PCF Dev](https://network.pivotal.io/products/pcfdev) page on the Tanzu Application Network.

1. In PowerShell, install the CF Dev plugin required to run <%= vars.platform_name %> Dev by running:

	```
	cf install-plugin cfdev
	```

1. Start <%= vars.platform_name %> Dev by running:

	```
	cf dev start -f FILEPATH
	```
  	Where `FILEPATH` is the filepath of the .iso or .tgz file you downloaded. It may take several minutes for the <%= vars.platform_name %> Dev VM and its services to start.
  	<p class="note"><strong>Note:</strong> You must run PowerShell in Administrator mode with <%= vars.platform_name %> Dev.</p>

After the **<%= vars.platform_name %> Dev is now running** banner appears, you can log in. For more information about logging in, see the [Log In to Your <%= vars.platform_name %> Dev Instance](./usage.html#pcf-dev) section of the _Using <%= vars.platform_name %> Dev_ topic.


## <a id="stopping"></a> Stop <%= vars.platform_name %> Dev

To stop <%= vars.platform_name %> Dev:

1. Navigate to your workspace.

1. Run:

	```
	cf dev stop
	```


## <a id="uninstall"></a> Uninstall <%= vars.platform_name %> Dev

To remove <%= vars.platform_name %> Dev:

1. Navigate to your workspace.

1. Run:

	```
	cf uninstall-plugin pcfdev
	```
